.card-container {
 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 3rem 3rem;
}

.card {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.card a {
  font-family: europaBold;
  margin-top: 10px;
  font-weight: bolder;
  text-decoration: unset;
  color: inherit;
  font-size: 17px;
}

.underline {
  width: 80px;
  height: 2px;
  color: #000;
  background-color: #000;
}

.card img {
  width: 100%;
}

.card h2 {
  font-family: europaBold;
  margin-top: 15px;
  font-size: 18px;
}

.user-details {
  display: flex;
  justify-content: space-between;
}



.des {
  font-family: customeRegular;
  margin-top: 10px;
}

.date {
  font-family: customeItalic;
  margin-top: 10px;
}

@media (max-width: 1470px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 990px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
