.filter-container {
  display: flex;
  padding: 2rem 3rem;
  gap: 2rem;
  justify-content: space-between;
}

.filter-cards-container {
  display: flex;
  border: 2px solid #d0d0d0;
  padding: 1.5rem;
  gap: 1.5rem;
}

.main-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.main-card a {
  font-family: europaBold;
  margin-top: 10px;
  font-weight: bolder;
  text-decoration: unset;
  color: inherit;
  font-size: 17px;
}

.underline {
  width: 80px;
  height: 2px;
  color: #000;
  background-color: #000;
}

.main-card img {
  width: 500px;
  max-height: 400px;
}

.main-card h2, h3 {
  font-family: europaBold;
  margin-top: 10px;
}

.user-details {
  display: flex;
  justify-content: space-between;
}

.user-name {
  font-family: europaBold;
  margin-top: 10px;
  font-size: 18px;
}

.des {
  font-family: customeRegular;
  margin-top: 10px;
}

.date {
  font-family: customeItalic;
  margin-top: 5px;
}

.recent {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  border: 2px solid #d0d0d0;
  padding: 1.5rem;
}
.sub-cards {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.sub-cards-col {
  display: flex;
  gap: 1.2rem;
}



.sub-cards-col img {
  width: 150px;
  height: 100px;
}

p {
  font-size: 11px;
  font-family: europaBold;
}