.footer{
    background-color: black;
    display: flex;
    color: #fff;
    padding: 40px ;
}

.footer a{
    font-family: europaBold;
    text-decoration: none;
    color: #fff;
}

.footer span{
    font-family: customeRegular;
    font-weight: 100;
}

.footer-icon{
    display: flex;
    gap: 1rem;
}

.footer-icon img{
    width: 20px;
}