
header{
    height: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 30px 10%; */
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}

.user-icon{
    color: #fff;
    cursor: pointer;
}


