.banner{
    background: url('../assets/img/banner.jpg') no-repeat;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-text {
    color:#fff ;
    font-weight: bold;
    
}

.banner-text h1 {
    font-family: customeBold;
    text-transform: uppercase;
}

.banner-text h3 {
    font-family: customeSBold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.banner-text button{
    margin-top: 20px;
    background: #fff;
    color: black;
    font-family: customeRegular;
    
}

.banner-text button:hover{
    background: #000000;
    color: rgb(255, 253, 253);
}

