
header{
    height: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: rgba(0, 0, 0, 0);
    position: fixed;
    top: 10px;
    width: 80%;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-family: customeBold;
}

nav li{
    display: inline;
    list-style: none;
    padding: 0px 20px;
    font-family: customeSBold;
}

a, button{
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

button{
    background: rgb(0, 0, 0);
    border: none;
    padding: 9px 25px;
    font-family: customeRegular;
}

button:hover{
    background-color: rgb(50, 48, 48);
    transition: all 0.4s ease 0;
}

nav li a:hover{
    opacity:.7;
}

