.logo {
    /* font-size: 40px; */
    font-weight: bold;
    cursor: pointer;
    font-family: Galins;
}

.form-heading {
    font-family: europaBold;
}

.form-text {
    font-family: customeRegular;
}




/*  */
/* In your CSS file or styles */
.custom-quill-editor {
    min-height: 300px;
    /* Set the minimum height */
}

/* Optional: If the editor wrapper affects the size, set a minimum height here too */
.editor-wrapper {
    min-height: 300px;
}

.text-shadow-custom {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}